/* ===== MOBILE NAVIGATION ===== */
.navigation {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #222;
}

.navigation.open {
    display: block;
}

.navigation li a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Wayfinding - Active Link */
.navigation a.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid white;
}

/* ===== HAMBURGER BUTTON ===== */
#nav-button {
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#nav-button::before {
    content: "☰";
}

#nav-button.open::before {
    content: "✖";
}

/* ===== DESKTOP NAVIGATION ===== */
@media (min-width: 768px) {
    .navigation {
        display: flex;
        justify-content: space-around;
    }

    #nav-button {
        display: none;
    }
}