/* styles/about.css */
.about-content {
    display: flex;
    gap: 2rem;
    padding: 4rem 3rem;
    background-color: var(--accent-color);
    align-items: center;
}

.about-image img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.mvw-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.mvw-cards p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-color);
    margin-top: 0.5rem;
}


.card {
    background-color: var(--accent-color);
    padding: 1.5rem;
    border-radius: 15px;
    color: var(--primary-color);
    box-shadow: 0 4px 10px rgba(57, 1, 71, 0.3);
}

.card h2 {
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
}

/*Mobile Dispositives */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .about-image {
        width: 100%;
        order: -1;
    }

    .about-image img {
        max-width: 100%;
    }

    .mvw-cards {
        width: 100%;
    }
}